$headBackImg: url("../img/m-h-night.jpg");
$logoTextPad: 8px;
$logoTextColor: #ffffff;


$buttonColor:#E3AC00;
$highLighting: #FF4E33;

$logoTextStyle: ("fontFamily": 'Source Sans Pro', "fontSize":30px);
$headerTextColor:#FFFFFF ;
$headerTextFont: 'Fresca', sans-serif;

$bodyBackColor:#21232E;
$cardBackColor: #3B3F50;
$cardTextStyles: ("textColor": #C0C3CB, "fontType": 'Fresca' , "fofntSize":17px);
$imageCardWidth:(1:277px, 2:263px, 3:290px);
//$imageCardWidth:(1:red, 2:green, 3:yellow);

$bannerColor: linear-gradient(45deg, #E2AB00, #922C54);
$bannerTextFont:'Fresca';