$headBackImg: url("../img/m-h-day.jpg");
$logoTextPad: 8px;
$logoTextColor:#2C2F3C ;


$buttonColor:#699900;
$highLighting: #14A0C7;

$logoTextStyle: ("fontFamily": 'Hind', "fontSize":30px);
$headerTextColor:#2C2F3C ;
$headerTextFont: 'Source Sans Pro', sans-serif;

$bodyBackColor:#ffffff;
$cardBackColor: #21232E;
$cardTextStyles: ("textColor": #C0C3CB, "fontType": 'Fresca' , "fofntSize":17px);
$imageCardWidth:(1:270px, 2:255px, 3:285px);
//$imageCardWidth:(1:red, 2:green, 3:yellow);

$bannerColor: linear-gradient(45deg, #699801, #2C5ADD);
$bannerTextFont:'Source Sans Pro';